<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title> Useful Commands for Running Ubuntu on a Macbook </title>
    <meta name="Author" content="Josh Errickson">
    <meta name="keywords" content="Josh Errickson, Josh, Errickson, University of Michigan, Michigan, Causal, Causal Inference, Ben Hansen, Statistics" lang="en-us">
    <link rel="stylesheet" href="http://openfontlibrary.org/face/didact-gothic" type="text/css" media="screen">
    <link rel="stylesheet" href="style.css" type="text/css" media="screen">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  </head>

  <body>
    <div id="main">
      <div id="links">
        <ul>
          <li><a href="index.html">homepage</a></li>
          <li><a href="code.html">code</a></li>
          <li><a href="files/josherrickson_cv.pdf">curriculum vitae</a></li>
          <li><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License"
          style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a></li>
        </ul>
      </div>
      <h1> Josh Errickson </h1>
      <h2> Creating Variants of a File with R + Knitr + Brew + LaTeX </h2>
      <p>
        The concept for this is based
        upon <a href="http://botthoughts.wordpress.com/2012/05/17/generating-reports-for-different-data-sets-using-brew-and-knitr/">http://botthoughts.wordpress.com/2012/05/17/generating-reports-for-different-data-sets-using-brew-and-knitr/</a>.
      </p>
      <p>
        I had the need to create personalized exams for students - There were three sets of size seven, three and
        one respectively, of which each student essentially received one randomly. This setup could be useful in
        other settings involving the need for multiple files based on a template, and some variable.
      </p>
      <p>
        First, you need in R some way to differentiate the variants. A data frame where each row is a variant works
        perfectly. Considering the following example
        <pre>> data
      X1   X2
1  Alice ver1
2    Bob ver2 </pre>
      <p>
        Here, <code>X1</code> is a name I want to include in the output, and <code>X2</code> refers to some
        larger change I want to make. In my personalized exam setup, that was two different questions.
      </p>
      <p>
        The R code to handle this is as follows.
        <pre>library(brew)
library(tools)
library(knitr)

genReports <- function(x, prepend) {
  rnw.file <- paste0(prepend, x[1], ".Rnw")
  brew("template.Rnw", rnw.file)
  knit(rnw.file)
  latex.file <- paste0(prepend, x[1], ".tex")
  texi2pdf(latex.file, clean = TRUE, quiet = TRUE)
  out.file <- paste0(prepend, x[1], ".pdf")
  return(out.file)
}

apply(data, 1, genReports, prepend="report_") </pre>
      </p>
      <p>
        <code>brew</code> and <code>knit</code> handle replacing any R code, and then <code>texi2pdf</code>
        generates the actual PDF.
      </p>
      <p>
        That code references a template.Rnw file. That can be just a regular LaTeX file, with a small change. A
        minimal example is below.
        <pre>
\documentclass{article}
\begin{document}
Name: <%= x[1] %>

\input{<%= x[2] %>
\end{document}</pre>
      </p>
      <p>
        (Note that you can also put Knitr code, which is similar to Sweave, directly in the file to run R code. For
        example, you could add
        <pre>
&lt;&lt;printingchunk&gt;&gt;=
plot(rnorm(100))
@</pre>
        which would be replaced with that plot in the PDF.)
      </p>
      <p>
        The <code><%= x[1] %></code> notation is what does the magic - that will be replaced by <code>brew</code>
        + <code>knit</code>. Using the <code>\input</code> command allows means that ver1.tex and ver2.tex have to
        exist, but they should be LaTeX chunks, not a complete file (e.g. no header.)
      </p>
      <p>
        So our end result, assuming we have ver1.tex and ver2.tex as two different questions, is that we have two
        PDF files, named report_Alice.pdf and report_Bob.pdf, where both have the individuals' names in the first
        line, and then contain two different questions.
      </p>
      <p>
        As an additional note, there are two easy ways to print a lot of these simultaneously. First, you could call something like
        <pre>
for f in report_*.pdf; do lp  $f; done
</pre>
        and passing any additional arguments to <code>lp</code>. Secondly, the command <code>pdfunite</code> in
        the <code>poppler</code> package can be used to merge the files. (Just ensure that each file has an even
        number of pages if you plan to print double-sided, padding each file with a <code>\newpage</code> if
        needed.)
    </div>
  </body>
</html>
