:root {
    --light: #f8f8f8;
    --grey0: #f0f0f0;
    --grey1: #a1a1a1;
    --grey2: #585858;
    --grey3: #0f0f0f;
    --dark:  #040404;
    --a_light: darkgreen;
    --a_dark:  darkseagreen
}

body {
    font-family: sans-serif;
    font-size: 1.5em;
    max-width: 90%;
    margin: 0 auto;
    padding: 15px 0 80px 0;
    color: var(--dark);
    background-color: var(--light);
}


@media (prefers-color-scheme: dark) {
    body {
        color: var(--light);
        background-color: var(--dark);
    }
}

body a {
    color: var(--a_light);
    text-decoration: underline;
}

body a:hover {
    color: var(--light);
    background-color: var(--a_light);
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    body a {
        color: var(--a_dark);
    }

    body a:hover {
        color: var(--dark);
        background-color: var(--a_dark);
    }
}

/* These two bits make sure that links inside code (e.g "[`text`](...)") use
 code text formatting, but have the proper colors.*/
/* a code { */
/*     color: var(--blue); */
/*     text-decoration: none; */
/* } */

/* a code:not(pre code) { */
/*     color: var(--blue); /\* Ensure the color matches the first rule *\/ */
/*     text-decoration: none; /\* Ensure the text-decoration matches the first rule *\/ */
/* } */

/* a:hover code { */
/*     color: var(--base2); */
/*     background-color: var(--blue); */
/*     text-decoration: none; */
/* } */


h1 {
    font-size: 150%;
}

h2 {
    font-size: 125%;
}

h3 {
    font-size: 125%;
    color: var(--cyan);
    text-decoration: underline;
}

h4 {
    font-size: 110%;
    text-decoration: underline;
}

.centered {
    width: 50%; /* Adjust the width as needed */
    text-align: center;
    margin: 0 auto;
}

/**********************************************************************
Image specifications
**********************************************************************/

.image_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

@media screen and (max-width: 768px) {
    .image_center {
        width: 90% !important;
    }
}

.inline-image {
    vertical-align: middle;
    height: 1em;
}

@media (prefers-color-scheme: dark) {
    .image_invert {
        -webkit-filter: invert(1);
        filter: invert(1);
    }

    .image_invert:hover {
        -webkit-filter: invert(0);
        filter: invert(0);
    }

}


/*********************************************************************
Special p's - warnings, notes and license
**********************************************************************/

p#license {
    color: var(--grey1);
}

@media (prefers-color-scheme: dark) {
    p#license {
        color: var(--grey2);
    }
}

p.warning
{
    background-color: #FEADAD;
    border-left: solid 4px var(--red);
    line-height: 18px;
    overflow: hidden;
    padding: 10px 60px;
}

p.note
{
    background-color: #A7CEFA;
    border-left: solid 4px var(--blue);
    line-height: 18px;
    overflow: hidden;
    padding: 10px 60px;
}

@media (prefers-color-scheme: dark) {
    p.note {
        background-color: #004FA8;
    }

    p.warning {
        background-color: #AB1616;
    }
}

/**********************************************************************
Code chunk stuff
**********************************************************************/

pre {
    /* font-size: 14px; */
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    background-color: var(--grey1);
    overflow-x: scroll;
}

@media (prefers-color-scheme: dark) {
    pre {
        background-color: var(--grey2);
        color: var(--light);
    }
}

pre.r_output {
    /* Only for R output */
    color: var(--base00);
}

code:not(pre code) {
    color: var(--base01);
}

@media (prefers-color-scheme: dark) {
    code:not(pre code) {
        color: var(--base1);
    }
}

/**********************************************************************
Syntax hightlighing bits
**********************************************************************/

.keyword {
    color: var(--green);
}

.operator {
    color: var(--blue);
}

.numeric {
    color: var(--red);
}

.comment {
    color: var(--base0);
}

.string {
    color: var(--yellow);
}


/**********************************************************************
Tabs for resources on main page
**********************************************************************/

.tabs {
    display: flex;
    flex-wrap: wrap;
}

.tabs label {
    order: 1;
    display: block;
    padding: 5px;
    margin-right: 0.2rem;
    cursor: pointer;
    font-weight: bold;
    transition: background ease .5s;
    color: var(--a_light);
}

@media (prefers-color-scheme: dark) {
    .tabs label {
        color: var(--a_dark);
    }
}

.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
}

.tab {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
    .tab {
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.3);
    }
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked + label {
    background: var(--dark);
    color: var(--light);
}

@media (prefers-color-scheme: dark) {
    .tabs input[type="radio"]:checked + label {
        background: var(--light);
        color: var(--dark);
    }
}
.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

@media (max-width: 768px) {
    .tabs .tab, .tabs label {
        order: initial;
    }

    .tabs label {
        width: 100%;
        margin-right: 0;
        margin-top: 0.2rem;
    }
}

/**********************************************************************
Index search
**********************************************************************/

.highlight {
    background-color: yellow;
}

@media (prefers-color-scheme: dark) {
    .highlight {
        color: var(--base02)
    }
}

#filterInput, #resetButton {
    font-size: 1em;
}
