:root {
    /* Based on solarized-dark - http://www.zovirl.com/2011/07/22/solarized_cheat_sheet/*/
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;

    /* This enables the use of dark themes */
     color-scheme: light dark;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px 0 80px 0;
    color: var(--base02);
    background-color: var(--base2);
}

@media (prefers-color-scheme: dark) {
    body {
        color: var(--base2);
        background-color: var(--base02);
    }
}

body a {
    color: var(--blue);
    text-decoration: none;
}

body a:hover {
    color: var(--base2);
    background-color: var(--blue);
    text-decoration: none;
}

/* These two bits make sure that links inside code (e.g "[`text`](...)") use
 code text formatting, but have the proper colors.*/
a code {
    color: var(--blue);
    text-decoration: none;
}

a:hover code {
    color: var(--base2);
    background-color: var(--blue);
    text-decoration: none;
}

h1 {
    font-size: 200%;
    color: var(--green);
}

h2 {
    font-size: 150%;
    color: var(--cyan);
    font-style: italic;
}

h3 {
    font-size: 125%;
    color: var(--cyan);
    text-decoration: underline;
}

h4 {
    font-size: 110%;
    text-decoration: underline;
}

pre {
    font-size: 14px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    color: var(--base1);
    background-color: var(--base02);
}

pre > code {
    /* Need this to avoid `code` below clobbering it */
    color: var(--base1);
}

@media (prefers-color-scheme: dark) {
    pre {
        color: var(--base02);
        background-color: var(--base1);
    }

    pre > code {
        /* Need this to avoid `code` below clobbering it */
        color: var(--base02);
    }

}

code {
    color: var(--base01);
}

@media (prefers-color-scheme: dark) {
    code {
        color: var(--base1);
    }
}
