:root {
    /* Based on solarized-dark - http://www.zovirl.com/2011/07/22/solarized_cheat_sheet/*/
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;


    --code_dark: #272822;
    --code_light: #f8f8f2;

    /* This enables the use of dark themes */
    color-scheme: light dark;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px 0 80px 0;
    color: var(--base02);
    background-color: var(--base2);
}


@media (prefers-color-scheme: dark) {
    body {
        color: var(--base2);
        background-color: var(--base02);
    }
}

@media only screen and (max-width: 600px) {
  /* Your CSS rules for small displays go here */
  body {
      margin-left: 2%;
      margin-right: 2%;
  }
}

body a {
    color: var(--blue);
    text-decoration: none;
}

body a:hover {
    color: var(--base2);
    background-color: var(--blue);
    text-decoration: none;
}

/* These two bits make sure that links inside code (e.g "[`text`](...)") use
 code text formatting, but have the proper colors.*/
a code {
    color: var(--blue);
    text-decoration: none;
}

a:hover code {
    color: var(--base2);
    background-color: var(--blue);
    text-decoration: none;
}

p.warning
{
    background-color: #FEADAD;
    border-left: solid 4px var(--red);
    line-height: 18px;
    overflow: hidden;
    padding: 10px 60px;
}

p.note
{
    background-color: #A7CEFA;
    border-left: solid 4px var(--blue);
    line-height: 18px;
    overflow: hidden;
    padding: 10px 60px;
}

@media (prefers-color-scheme: dark) {
    p.note {
        background-color: #004FA8;
    }

    p.warning {
        background-color: #AB1616;
    }
}

h1 {
    font-size: 225%;
    color: var(--green);
}

h2 {
    font-size: 175%;
    color: var(--cyan);
    font-style: italic;
}

h3 {
    font-size: 125%;
    color: var(--cyan);
    text-decoration: underline;
}

h4 {
    font-size: 110%;
    text-decoration: underline;
}

.image_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

@media screen and (max-width: 767px) {
    .image_center {
        width: 90% !important;
    }
}

@media (prefers-color-scheme: dark) {
    .image_invert {
        -webkit-filter: invert(1);
        filter: invert(1);
    }
}

.centered {
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto;
}

/**********************************************************************
Code chunk stuff
**********************************************************************/

pre {
    font-size: 14px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    background-color: var(--code_light);
    color: var(--code_dark);
    white-space: pre-wrap;
    word-wrap: break-word;
}

@media (prefers-color-scheme: dark) {
    pre {
        background-color: var(--code_dark);
        color: var(--code_light);
    }
}

pre.r_output {
    /* Only for R output */
    color: var(--base00);
}

code:not(pre code) {
    color: var(--base01);
}

@media (prefers-color-scheme: dark) {
    code:not(pre code) {
        color: var(--base1);
    }
}

/**********************************************************************
Syntax hightlighing bits
**********************************************************************/

.keyword {
    color: var(--green);
}

.operator {
    color: var(--blue);
}

.numeric {
    color: var(--red);
}

.comment {
    color: var(--base0);
}

.string {
    color: var(--yellow);
}
