{{ define "page" }}
<article class="container">
  {{ if ne .Kind "home" }}
  <a href="{{ .Site.Home.RelPermalink }}">Home</a>
  {{ end }}
  <h1>{{ .Title }}</h1>
  <ul>
    {{ range .Pages.ByPublishDate.Reverse }}
      <li>
        <a href="{{ .RelPermalink }}">{{ or .Title .RelPermalink}}</a>
        <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
      </li>
    {{ end }}
  </ul>
  <h1>Tags</h1>
  <ul id="all-tags">
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
    <li><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">#{{ $name }}</a></li>
    {{ end }}
  </ul>
</article>
{{ end }}
